<h1><%= @campaign.title %></h1>
Created by: <%= image_tag @campaign.creator.photo %> <%= @campaign.creator.name %>

<p>
<%= @campaign.description %>
</p>

<%= @campaign.goal %>

<br>

<% @campaign.comments.each do |comment|  %>
    <%= comment.user.email %><br>
    <%= comment.content %>
<% end %>

<%= render partial: 'comments/form' %>

