<div class="row">
    <div class="col-md-4 order-md-2 mb-4">
        <div class="card">
            <div class="card-body">
                <p>
                    Creator:<br>
                    <%= image_tag @campaign.creator.photo, class: "rounded-circle" %> <%= @campaign.creator.name %>
                </p>
                <p>
                    Goal:<br>
                    $<%= @campaign.goal %>
                </p>

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="<%= @campaign.percent_raised %>" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: <%= @campaign.percent_raised %>%">
                        <%= @campaign.percent_raised %>%
                    </div>
                </div>
                <p>
                    Raised:<br>
                    $<%= @campaign.donations.sum(:amount) %>
                </p>

                <%= button_to "Donate", new_campaign_donation_url(@campaign), class: "btn btn-success", method: 'get' %>
            </div>
        </div>
        
        <div class="card">
            <div class="card-header">
                Donations
            </div>
            <div class="card-body">
                <div class="row">
                    <% @campaign.donations.each do |donation| %>
                        <div class="card mt-1">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-auto">
                                        <%= image_tag donation.user.photo, class: "rounded-circle" %>
                                    </div>
                                    <div class="col">
                                        <%= donation.user.name %> <br> <span class="text-success">$<%= donation.amount %></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>
    </div>



    <div class="col-md-8 order-md-1">
        <h1><%= @campaign.title %></h1>
        <p>
            <%= @campaign.description %>
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <% @campaign.comments.each do |comment|  %>
            <p>
                <strong><%= comment.user.name %></strong> says:<br>
                <%= comment.content %>
            </p>
        <% end %>

        <%= render partial: 'comments/form' %>
    </div>
</div>

